/*  your css code here. If applicable */
.container >img{
     width: 90vw;
	height:100vh;
}
.list{
	position: absolute;
	background-color: white;
	width: 40vw;
	top: 1%;
	left:25%;
	text-align:center;
}
#bands >li{
	margin-top:31px;
	
	
}